# Dependencies
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log
lerna-debug.log

# Production
dist/
build/

# Misc
.DS_Store
*.pem

# Debug
debug.log*

# Local env files
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
